@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}


input[type='number'] {
  -moz-appearance: textfield;
}

.stroke-title {
  -webkit-text-stroke: 1px white;
}




